<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<settings>
    <!-- 컬러명이 c_name 일 경우  cName 변환 -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
    <typeAliases>
        <typeAlias alias="MemberVO"
                   type="com.fila.app.domain.member.MemberVO"/>
    </typeAliases>

</configuration>
