/*! 초기화(옵션) 스타일 */


/* CDN */
@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/HelveticaNeueLTStd-Hv.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/HelveticaNeueLTStd-Bd.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/HelveticaNeueLTStd-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/HelveticaNeueLTStd-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/HelveticaNeueLTStd-UltLt.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}




@font-face {
    font-family: 'Tartuffo-Bold';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/Tartuffo-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tartuffo-BoldItalic';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/Tartuffo-BoldItalic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TartuffoFila-Light';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/TartuffoFila-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TartuffoFila-LightItalic';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/TartuffoFila-LightItalic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tartuffo-Light';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/Tartuffo-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tartuffo-Medium';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/Tartuffo-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tartuffo-MediumItalic';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/Tartuffo-MediumItalic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tartuffo-Regular';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/Tartuffo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tartuffo-RegularItalic';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/Tartuffo-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tartuffo-Thin';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/Tartuffo-Thin.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tartuffo-ThinItalic';
    src: url('https://filacdn.styleship.com/filacontent2/pc/resource/fonts/Tartuffo-ThinItalic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

img {
	vertical-align: middle;
	border: 0;
}

ol, ul, li, dl, dt, dd {
	list-style: none;
}

h1, h2, h3, h4,h5 {
	padding: 0;
	margin: 0;
}

body, div, dl, dt, dd, ul, li, ol, p, figure {
	padding: 0;
	margin: 0;
}

em {
	font-style:normal;
}

/* 필요한 base 넣을것 */
:root,
html {
	font-size: 10px;
}

body {
	font-family: 'HelveticaNeueLTStd', 'Spoqa Han Sans Neo', sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: rgb(0,0,0);
}

button, input[type='submit'], input[type='reset'], input[type='button'] {
	padding: 0;
	border: 0;
	background: none;
	line-height: normal;
	font: inherit;
	color: inherit;
	overflow: visible;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}

button {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	outline:0;
}

input[type='submit'], input[type='reset'], input[type='button'] {
	-webkit-appearance: button;
	   -moz-appearance: button;
	        appearance: button;
}
input[type='number'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	     appearance: none;
	border-radius: 0;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'],
input[type='number'] {-moz-appearance: textfield;}


a {
	color: inherit;
}

a:link {
	text-decoration: none;
}

.hidden {
	display: none;
}

.acc-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	line-height: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	visibility: hidden;
	font-size: 0;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

input[type='text'], input[type='tel'], input[type='password'], textarea {
	-webkit-appearance: none;
	border-radius: 0;
	margin: 0;
	line-height: normal;
	border: 0;
	outline: 0;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	     appearance: none;
}

input[type='number'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	     appearance: none;
	border-radius: 0;
	outline: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.ui-loader {
	display: none;
}

select {
	border-radius: none;
	-webkit-border-radius: 0;
}

.cb {
	clear: both;
}
a[href^=tel] {
	color: inherit;
}

input[type="password"]{font-family: sans-serif;}

/* checkbox style */
.cb__style1 {
	position: absolute;
	z-index: -9999;
	opacity: 0;
}
.cb__style1 + label {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 0;
	left: 0;
	height: 20px;
	padding-left: 20px;
	cursor: pointer;
	font-size:0;
}
.cb__style1 + label:before,
.cb__style1 + label:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	content: '';
}
.cb__style1 + label:before {background-image: url(https://filacdn.styleship.com/filacontent2/pc/resource/images/common/checkbox_off_20x20.png);}
.cb__style1:checked + label:after {
	z-index: 3;
	background-image: url(https://filacdn.styleship.com/filacontent2/pc/resource/images/common/checkbox_on_20x20.png);
}
.cb__style1:disabled + label:after {
	z-index: 3;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg id='check' transform='translate(-445 -205)'%3E%3Cg id='사각형_22' data-name='사각형 22' transform='translate(445 205)' fill='%23eee' stroke='%23ccc' stroke-width='1'%3E%3Crect width='20' height='20' rx='5' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='4.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.cb__style2 {
	position: absolute;
	z-index: -9999;
	opacity: 0;
}
.cb__style2 + label {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 0;
	left: 0;
	height: 20px;
	padding-left: 20px;
	cursor: pointer;
	font-size:0;
}
.cb__style2 + label:before,
.cb__style2 + label:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	content: '';
}
.cb__style2 + label:before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg id='Select' transform='translate(-20 -300)'%3E%3Cg id='타원_67' data-name='타원 67' transform='translate(20 300)' fill='none' stroke='%23ccc' stroke-width='1'%3E%3Ccircle cx='10' cy='10' r='10' stroke='none'/%3E%3Ccircle cx='10' cy='10' r='9.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");}
.cb__style2:checked + label:after {
	z-index: 3;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg id='Select' transform='translate(-20 -300)'%3E%3Ccircle id='타원_67' data-name='타원 67' cx='10' cy='10' r='10' transform='translate(20 300)' fill='%23002053'/%3E%3Cg id='check' transform='translate(27 308)'%3E%3Cpath id='패스_144' data-name='패스 144' d='M450,214l2,2,4-4' transform='translate(-450 -212)' fill='none' stroke='%23fff' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.cb__style3 {
	position: absolute;
	z-index: -9999;
	opacity: 0;
}
.cb__style3 + label {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 0;
	left: 0;
	height: 20px;
	padding-left: 20px;
	cursor: pointer;
	font-size:0;
}
.cb__style3 + label:before,
.cb__style3 + label:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	content: '';
}
.cb__style3 + label:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg id='check' transform='translate(-445 -205)'%3E%3Cg id='사각형_22' data-name='사각형 22' transform='translate(445 205)' fill='%23fff' stroke='%23000' stroke-width='1'%3E%3Crect width='20' height='20' rx='5' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='4.5' fill='none'/%3E%3C/g%3E%3Cpath id='패스_8' data-name='패스 8' d='M453,219c-.24,0-.84.16-1,0l-3-3a2.2,2.2,0,0,1,0-2,.641.641,0,0,1,1,0l3,3,6-6a.707.707,0,0,1,1,1l-6,7C453.84,219.16,453.24,219,453,219Z' transform='translate(0 0)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.cb__style3:checked + label:after {
	z-index: 3;
	background-image: url("data:image/svg+xml,%3Csvg id='check' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg id='사각형_22' data-name='사각형 22' stroke='%23000' stroke-width='1'%3E%3Crect width='20' height='20' rx='5' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='4.5' fill='none'/%3E%3C/g%3E%3Cpath id='패스_8' data-name='패스 8' d='M453,219a.726.726,0,0,1-.56-.24l-3.2-3.2a.792.792,0,0,1,1.12-1.12l2.64,2.64,5.84-5.84a.792.792,0,0,1,1.12,1.12l-6.4,6.4A.726.726,0,0,1,453,219Z' transform='translate(-445 -205)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.cb__style3:disabled + label:before {
	background: none;
	background-color: rgb(238,238,238);
	border-radius: 5px;	
}
.cb__style3:disabled + label:after {content: none;}
/* //checkbox style */


/* radio style */
.rd__style1 {
	position: absolute;
	z-index: -9999;
	opacity: 0;
}
.rd__style1 + label {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 0;
	left: 0;
	height: 16px;
	padding-left: 16px;
	cursor: pointer;
	font-size:0;
}
.rd__style1 + label:before,
.rd__style1 + label:after {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	content: '';
}
.rd__style1 + label:before {
	width: 16px;
	height: 16px;
	border: 1px solid rgb(0,0,0);
	box-sizing: border-box;
}
.rd__style1 + label:after {
	display: none;
	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	background-color: rgb(0,0,0);
}
.rd__style1:checked + label:after {display: block;}
/* //radio style */

/* select style */
.sel__style1 {
	padding: 0 43px 0 20px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Pretendard', sans-serif;
	color: rgb(153, 153, 153);
	background: url(https://filacdn.styleship.com/filacontent2/pc/resource/images/common/arr_down_bk_9x6.png) no-repeat center right 20px;
	box-sizing: border-box;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	-webkit-appearance: none;
	/* for chrome */
	-moz-appearance: none;
	/*for firefox*/
	appearance: none;
}
.sel__style1::-ms-expand {
	display: none;
	/*for IE10,11*/
}
.sel__style1._start {
	border-color: rgb(0,0,0);
	color: rgb(0,0,0);
}
/* select style */

/* margin */
.mt50 {
	margin-top:50px;
}
.m0 {margin: 0 !important;}
.mr10 {margin-right: 10px !important;}
.mr5 {margin-right: 5px !important;}
.mt15 {margin-top: 15px !important;}
.bd0 {border: 0 !important;}

/*데스크탑*/
@media screen and (min-width:1200px) {
	/* checkbox style */
	.cb__style1 + label:hover:before {
		border-color: rgb(246,117,153);
		transition: border-color .25s ease-in-out;
	}
	.cb__style1:checked + label:hover:before {
		background-color: rgb(246,117,153);
		transition: background-color .25s ease-in-out;
	}
	/* //checkbox style */
}