<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fila.app.mapper.tag.TagMapper">

   <select id="selectTagList" resultType="com.fila.app.domain.categories.CategoriesVO">
        <![CDATA[
        SELECT 
            category_id AS categoryId, 
            name,
            use_yn AS useYn,
            updated_at AS updatedAt 
        FROM CATEGORIES 
        WHERE CATEGORY_ID >= 4000 AND CATEGORY_ID < 5000 
        ORDER BY CATEGORY_ID ASC
        ]]>
    </select>

    <select id="getMaxTagId" resultType="int">
        <![CDATA[
        SELECT NVL(MAX(CATEGORY_ID), 3999) 
        FROM CATEGORIES 
        WHERE CATEGORY_ID < 5000
        ]]>
    </select>

    <insert id="insertTag">
        INSERT INTO CATEGORIES (CATEGORY_ID, NAME)
        VALUES (#{categoryId}, #{name})
    </insert>

</mapper>